<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>
    <meta http-equiv="refresh" content="20"> 
    <style>
        h1{
            color: chocolate;
        }
    </style>
</head>

<body>

    <%-generate_head_row("/csv_files","CSV file list","Activity list","Report info and log","/report_info_list") %>

    <div id="forms">
        <h3>Start analysis execution</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/exec_god" enctype="application/x-www-form-urlencoded" >
                Check this<input type="radio" name="check" required> before 
                <input type="submit" value="Execute GOD process"> to analyse the data
            </form>
            </div>
        <h3>Remove ended activities</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/activity_remove_ended" enctype="application/x-www-form-urlencoded" >
                <input type="submit" value="Remove ended activities">
            </form>
            </div>

        <h3>Activity list</h3>
        

            <table>
                <tr>
                    <th>
                        Activity name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Extra data
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
                <% acts.forEach((activity)=>{%>
                    <tr>
                        <td>
                            <%=activity[1]%>
                        </td>
                        <td>
                            <%=activity[2]%>
                        </td>
                        <td>
                            <%=activity[3]%>
                        </td>
                        <td>
                            <form class="form" method='POST' action="/remove_one_activity" enctype="application/x-www-form-urlencoded" style="margin-left: 30px;">
                                <input type="text" name="name" value="<%=activity[1]%>" style="display: none;" readonly>
                                
                                Check this<input type="radio" name="check" required> before <input type="submit" value="Remove activity">
                            </form>
                        </td>
                    </tr>
                <%})%>
            </table>
        
    </div>

    <%- include('footer.html')%>
</body>

</html>