<html>

<head>
    <%- include('head.html')%>
    <!--meta http-equiv="refresh" content="10"> <!-->
</head>

<body>
    <h1>Welcome to the activity list</h1>
    <div id="forms">
        <h3>Insert data for a new activity</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/insert_new_activity" enctype="application/x-www-form-urlencoded" >
                Name: <input type="text" name="name" value="" > <br />
                Status: <input type="text" name="status" value="" > <br />
                Data <input type="text" name="data" value="{}" >
                <input type="submit" value="Insert activity">
            </form>
            </div>
        <h3>Remove ended activities</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/activity_remove_ended" enctype="application/x-www-form-urlencoded" >
                <input type="submit" value="Remove ended activities">
            </form>
            </div>
        <h3>Start god execution</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/exec_god" enctype="application/x-www-form-urlencoded" >
                Check this<input type="radio" name="check" required> before 
                <input type="submit" value="Execute GOD process">
            </form>
            </div>

        <h3>Update or remove any activity</h3>
        <% acts.forEach((activity)=>{%>
            <div class="div_form">
            <form class="form" method='POST' action="/update_activity" enctype="application/x-www-form-urlencoded" style="float: left;">
                <input type="text" name="name" value="<%=activity[1]%>" readonly>
                <input type="text" name="status" value="<%=activity[2]%>" >
                <input type="text" name="data" value="<%=activity[3]%>" >
                <input type="submit" value="Update activity">
            </form>
            <form class="form" method='POST' action="/remove_one_activity" enctype="application/x-www-form-urlencoded">
                <input type="text" name="name" value="<%=activity[1]%>" style="display: none;" readonly>
                <input type="submit" value="Remove activity">
                Check this<input type="radio" name="check" required> before removing
            </form>
            </div>
        <%})%>
    </div>

    <%- include('footer.html')%>
</body>

</html>