<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>
    <style>
        h1{
            color: #5dce00;
        }
    </style>
</head>

<body>
    
    <%-generate_head_row("","","CSV file list","Activity list","/activity_list") %>
    <div>
        <h3>Upload edited CSV file</h3>
            <form class="form" method='POST' action="/upload_only_csv" enctype="multipart/form-data">
                Insert the nickname for the file <input type="text" name="analysis_name" required><br>
                Select the csv file: <input type="file" name="search_file_csv" accept=".csv" required><br>
                Warning: if the name has already been used in the past, the server will keep only the newest data 
            (Check this <input type="radio" name="check_info" required> to confirm)<br>
                <input type="submit" value="Upload data">
            </form>
    </div>

        <h3>Choose the one you want to be analysed</h3>

        <div class="div_form" style=" margin-bottom: 10px;">

            <table>
                <tr>
                    <th>
                        Analysis name
                    </th>
                    <th>
                        Look at file
                    </th>
                    <th>
                        Download file
                    </th>
                    <th>
                        Select file to be splitted and analysed
                    </th>
                    <th>
                        Select file to be analysed
                    </th>
                    <th>
                        Remove file
                    </th>
                </tr>
                <% files.forEach((file_name)=>{%>
                    <tr>
                        <td>
                        
                                <%=file_name.substring(0,file_name.indexOf("_run_info"))%>
                            
                        </td>
                        <td>
                            <form class="form" method='get' action="/csv_to_see"
                                enctype="application/x-www-form-urlencoded">
                                <input type="text" name="name" value="<%=file_name%>" style="display: none;" readonly>
                                <input type="submit" value="Look at file">
                            </form>
                        </td>
                        <td>
                            <form class="form" method='get' action="/csv_to_download"
                                enctype="application/x-www-form-urlencoded">
                                <input type="text" name="name" value="<%=file_name%>" style="display: none;" readonly>
                                <input type="submit" value="Download file">
                            </form>
                        </td>
                        <td>
                            <form class="form" method='POST' action="/csv_todo_split"
                                enctype="application/x-www-form-urlencoded">
                                <input type="text" name="name" value="<%=file_name%>" style="display: none;" readonly>
                                <input type="submit" value="Select file and split">
                                into files of n°<input type="number" name="parts_num" value="1" style="width: 50px;"> rows 
                                
                            </form>
                        </td>
                        <td>
                            <form class="form" method='POST' action="/csv_todo"
                                enctype="application/x-www-form-urlencoded">
                                <input type="text" name="name" value="<%=file_name%>" style="width: 250px;display: none;" readonly>
                                <input type="submit" value="Select file">
                            </form>
                        </td>
                        <td>
                            <form class="form" method='POST' action="/csv_to_remove"
                                enctype="application/x-www-form-urlencoded">
                                <input type="text" name="name" value="<%=file_name%>" style="width: 250px;display: none;" readonly>
                                Check this<input type="radio" name="check" required> before <input type="submit" value="Remove file">
                            </form>
                        </td>
                    </tr>
                    <%})%>
            </table>



        </div>

    <%- include('footer.html')%>
</body>

</html>