<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>

    <style>
        h1{
            color: darkviolet;
        }
    </style>
    
</head>

<body>

    <%-generate_head_row("/report_info_list","Report info and log","DB GUI","","") %>


    <div id="forms">
        <h3>Get Taxon ids by name</h3>
            <div class="div_form">
                <form class="form" method='get' action="/get_taxon_by_name" enctype="application/x-www-form-urlencoded" style="float: left;">
                    Insert a key word to get the Taxon ids: <input type="text" name="taxon_name"> <br>
                    Submit to search: <input type="submit" value="Search ids">
                </form>
            </div>

        <h3>Get all reports</h3>
            <div class="div_form">
                <form class="form" method='get' action="/get_report_by_taxon_id" enctype="application/x-www-form-urlencoded" style="float: left;">
                    <input type="number" name="taxon_id" value="1" style="display: none;">
                    Submit to get all the reports from the database: <input type="submit" value="Get Reports">
                </form>
            </div>
    </div>
    <% if(taxon_list_present){ %>
        <hr>
        <div>
            <h3>Taxon list for "<%=taxon_name%>"</h3>
            <table style="border: solid;">
                <tr>
                    <th>Taxon Id (search for)</th>
                    <th>Taxon Name</th>
                    <th>Taxon Rank</th>
                    <th>Taxon parent id</th>
                </tr>
            <% taxon_list.forEach(function(row) { %>
                <tr>
                    <td>
                        <form class="form" method='get' action="/get_report_by_taxon_id" enctype="application/x-www-form-urlencoded" style="float: left;">
                            <input type="number" name="taxon_id" value="<%=row.taxonid%>" style="display: none;">
                            <input type="submit" value="<%=row.taxonid%>">
                        </form>
                    </td>
                    <td><%=row.taxonname%></td>
                    <td><%=row.rank%></td>
                    <td><%=row.parenttaxonid%></td>
                </tr>
            <% }); %> 

            </table>
        </div>
    <%}else if(report_list_present){%>
        <hr>
        <div>
            <h3>Report list for taxond_id="<%=taxon_id%>" <%=taxon_name%></h3>
            <table style="border: solid;">
                <tr> 
                    <th>Run Id (get full report)</th>
                    <th>Study Title</th>
                    <th>Sample Taxon Name</th>
                    <th>Extra</th>
                    <th>Root Qt.</th>
                    <th>Root %</th>
                    <th>Direct Qt.</th>
                    <th>Direct %</th>
                </tr>
            <% report_list.forEach(function(row) { %>
                <tr>
                    <td>
                        <form class="form" method='get' action="/get_report_data_by_runaccession" enctype="application/x-www-form-urlencoded" style="float: left;">
                            <input type="text" name="run_acc" value="<%=row.runid%>" style="display: none;">
                            <input type="submit" value="<%=row.runid%>">
                        </form>
                    </td>
                    <td><%=row.studytitle%></td>
                    <td><%=row.taxnamesample%></td>
                    <td>
                        <form class="form" method='get' action="/get_extra_data_for_sample" enctype="application/x-www-form-urlencoded" style="float: left;">
                            <input type="text" name="sample_id" value="<%=row.sampleid%>" style="display: none;">
                            <input type="submit" value="Get data">
                        </form>
                    </td>
                    <td><%=row.rootednum%></td>
                    <td><%=row.rootedperc%></td>
                    <td><%=row.directnum%></td>
                    <td><%=row.directperc%></td>
                </tr>
            <% }); %> 

            </table>
        </div>
    <%}%>
    <%- include('footer.html')%>
</body>

</html>