<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>

    <style>
        h1{
            color: darkviolet;
        }
    </style>
    
</head>

<body>
    <%-generate_head_row("","","DB GUI","","") %>

    <% if(report_data_present){ %>
        <hr>
        <div>
            <h3>Taxon list for Run Accession: "<%=run_acc%>"</h3>
            <table style="border: solid;">
                <tr>
                    <%if(false){%><th>Run Accession</th><%}%>
                    <th>Taxon ID</th>
                    <%if(false){%><th>Parent Taxon ID</th><%}%>
                    <th>Taxon Name</th>
                    <th>Root Qt.</th>
                    <th>Root %</th>
                    <th>Direct Qt.</th>
                    <th>Direct %</th>
                    <th>Rank Abbr</th>
                </tr>
            <% report_data.forEach(function(row) { %>
                <tr>
                    <%if(false){%><td><%=row.runid%></td><%}%>
                    <td><%=row.taxonid%></td>
                    <%if(false){%><td><%=row.parenttaxonid%></td><%}%>
                    <td><%=row.taxname%></td>
                    <td><%=row.rootednum%></td>
                    <td><%=row.rootedperc%></td>
                    <td><%=row.directnum%></td>
                    <td><%=row.directperc%></td>
                    <td><%=row.reportrank%></td>
                </tr>
            <% }); %> 

            </table>
        </div>
    
    <%}%>
    <%- include('footer.html')%>
</body>

</html>