
<%
generate_head_row = function (llink, ltext, title, rtext, rlink){
        let l='<div class="head left" >'
        if(ltext!=""){
            l = l + '&larr;<a href="'+llink+'">'+ltext+'</a>';
        }
        l = l + "</div>";

        let r='<div class="head right" >'
        if(rtext!=""){
            r = r + '<a href="'+rlink+'">'+rtext+'</a>&rarr;';
        }
        r = r + "</div>";
        
        let c = '<div class="head center"><h1>'+title+'</h1></div>';        
        
        return '<div class="head_row">'+l+c+r+'</div>'
    }
%>