<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>
</head>

<body>

    <%-generate_head_row("","","Welcome to the SRA-ome project!","","") %>
    
    <div id="forms">
    
    <%if(false){%>
        <h3>Insert the data about your research on <a href="https://www.ncbi.nlm.nih.gov/sra#term" target="_blank">NCBI - SRA Entrez</a></h3>
        <form class="form" method='POST' action="/upload" enctype="multipart/form-data">
            Insert the name of the analysis <input type="text" name="analysis_name" required>
             - Note: if the name has already been used in the past, the server will keep only the newest data 
            (Check this <input type="radio" name="check_info" required> to confirm)<br>
            Select the csv file: <input type="file" name="search_file_csv" accept=".csv" required><br>
            Select the xml file: <input type="file" name="search_file_xml" accept=".xml" required><br>
            <input type="submit" value="Upload data">
        </form>
    <%}%>

        <h3>Insert the data about your research on <a href="https://www.ncbi.nlm.nih.gov/sra#term" target="_blank">NCBI - SRA Entrez</a></h3>
        <form class="form" method='POST' action="/upload_only_xml" enctype="multipart/form-data">
            Insert the name of the analysis <input type="text" name="analysis_name" required><br>
            Select the xml file: <input type="file" name="search_file_xml" accept=".xml" required><br>
            Warning: if the name has already been used in the past, the server will keep only the newest data 
           (Check this <input type="radio" name="check_info" required> to confirm)<br>
            <input type="submit" value="Upload data">
        </form>

        <h3>Click here to get the list of the csv file that have been already uploaded</h3>
        <form class="form" method='GET' action="/csv_files" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Get csv file list">
        </form>

        <h3>Click here to get the list of the activity</h3>
        <form class="form" method='GET' action="/activity_list" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Get activity list">
        </form>

    <%if(false){%>
        <h3>Click here to go to the Kraken SQL GUI</h3>
        <form class="form" method='GET' action="/kraken_sql_gui" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Go to Kraken GUI">
        </form>
    <%}%>
    
        <h3>Click here to go to the Report Info GUI</h3>
        <form class="form" method='GET' action="/report_info_list" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Go to Report Info GUI">
        </form>
    
    <%if(false){%>
        <h3>Click here to go to the Report TXT file GUI</h3>
        <form class="form" method='GET' action="/report_to_see_dir_list" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Go to Report TXT GUI">
        </form>
    <%}%>

        <h3>Click here to go to the DB GUI</h3>
        <form class="form" method='GET' action="/db_gui" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Go to DB GUI">
        </form>
    </div>


    <%- include('footer.html')%>
</body>

</html>