<html>

<head>
    <%- include('head.html')%>
</head>

<body>
    <h1>Welcome to the Kraken SQL GUI</h1>
    <div id="forms">
        <% if(layout=="create"){ %>
        <h3>Sql file creation from kraken reports</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/create_report_sql" enctype="application/x-www-form-urlencoded" style="float: left;">
                Submit to create file: <input type="submit" value="Create sql file">
            </form>
            </div>
        <% }else{ %>
        <h3>Kraken reports sql file insert</h3>
            <div class="div_form">
            <form class="form" method='POST' action="/insert_report_sql" enctype="application/x-www-form-urlencoded" style="float: left;">
                Submit to insert sql files into the database: <input type="submit" value="Insert data">
            </form>
            </div>
        <% } %>
    </div>

    <%- include('footer.html')%>
</body>

</html>