<html>

<head>
    <%- include('head.html');%>
</head>

<body>
    <h1>Welcome to the report info file list</h1>
    <div id="forms">
        <h3>Choose the one you want to look at</h3>
        <table style="border: solid;">
            <tr>
                <th>Report name</th>
                <th>Look at</th>
            </tr>
        <% files.forEach(function(row) { %>
            <tr>
                <td><%=row%></td>
                <td><form class="form" method='get' action="<%if(dirs){%>/report_to_see_file_list<%}else{%>/look_at_report_to_see<%}%>" enctype="application/x-www-form-urlencoded">
                    <%if(!dirs){%><input type="text" name="dir_name" value="<%=dir_name%>" style="display: none;" readonly><%}%>
                    <input type="text" name="name" value="<%=row%>" style="display: none;" readonly>
                    <input type="submit" value="Look at <%if(dirs){%>dir<%}else{%>file<%}%>">
                </form></td>
            </tr>
        <% }); %> 

        </table>


        </table>
    </div>

    <%- include('footer.html')%>
</body>

</html>