<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>
    <style>
        h1{
            color: brown;
        }
    </style>
</head>

<body>
    
    <%-generate_head_row("/activity_list","Activity list","Report info and log","Database GUI","/db_gui") %>

    <div id="forms">
        <h3>Choose the info you want to look at</h3>
        <table style="border: solid;">
            <tr>
                <th>Report name</th>
                <th>Look at</th>
                <th>Remove info</th>
            </tr>
        <% files.forEach(function(row) { %>
            <tr>
                <td><%=row%></td>
                <td><form class="form" method='get' action="/look_at_report_info" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="name" value="<%=row%>" style="display: none;" readonly>
                    <input type="submit" value="Look at file">
                </form></td>
                <td>
                    <form class="form" method='POST' action="/remove_report_info" enctype="application/x-www-form-urlencoded">
                        <input type="text" name="name" value="<%=row%>" style="display: none;" readonly>
                        Check this<input type="radio" name="check" required> before <input type="submit" value="Remove file">
                    </form>
                </td>
            </tr>
        <% }); %> 

        </table>

        <hr>
        <h3>Error log list</h3>
        <table style="border: solid;">
            <tr>
                <th>Log name</th>
                <th>Look at</th>
                <th>Remove log</th>
            </tr>
        <% files_log.forEach(function(row) { %>
            <tr>
                <td><%=row%></td>
                <td><form class="form" method='get' action="/look_at_report_log" enctype="application/x-www-form-urlencoded">
                    <input type="text" name="name" value="<%=row%>" style="display: none;" readonly>
                    <input type="submit" value="Look at file">
                </form></td>
                <td>
                    <form class="form" method='POST' action="/remove_report_log" enctype="application/x-www-form-urlencoded">
                        <input type="text" name="name" value="<%=row%>" style="display: none;" readonly>
                        Check this<input type="radio" name="check" required> before <input type="submit" value="Remove file">
                    </form>
                </td>
            </tr>
        <% }); %> 

        </table>
    </div>

    <%- include('footer.html')%>
</body>

</html>