<html>

<head>
    <%- include('head.html')%>
    <%- include('ejs_functions.html')%>

    <style>
        h1{
            color: darkviolet;
        }
    </style>
</head>

<body>
    <%-generate_head_row("","","DB GUI","","") %>


        <div>
            
            <h3>Experiment and study data for <a href="https://www.ncbi.nlm.nih.gov/biosample/?term=<%=sample_id%>" target="_blank">"<%=sample_id%>"</a> sample</h3>
            
            <ul>
                <% Object.entries(db_all_data_list[0]).forEach(function(prop){
                    if(prop[0]!="bioprojectid"){%>
                        <li><b><%=prop[0].charAt(0).toUpperCase() + prop[0].slice(1);%>: </b><%=prop[1]%></li>
                    <% }else{ %> 
                        <li><b><%=prop[0].charAt(0).toUpperCase() + prop[0].slice(1);%>: </b>
                            <a href="https://www.ncbi.nlm.nih.gov/bioproject/?term=<%=prop[1]%>" target="_blank"><%=prop[1]%></a></li>
                <% }}); %>    
            </ul>
        
            
            <%if(false){%>
            <h3>Experiment and study data for "<%=sample_id%>" sample</h3>
            <table style="border: solid;">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                <% Object.entries(db_all_data_list[0]).forEach(function(prop){%>
                    <tr>
                        <td><%=prop[0]%></td>
                        <td><%=prop[1]%></td>
                    </tr>
                <% }); %> 
            </table>
            <% }; %>

            <h3>Extra data for "<%=sample_id%>" sample</h3>
            <table style="border: solid;">
                <tr>
                    <th>Tag name</th>
                    <th>Value</th>
                </tr>
                <% data_list.forEach(function(row) { %>
                    <tr>
                        <td><%=row.tag%></td>
                        <td><%=row.value%></td>
                    </tr>
                <% }); %> 
            </table>

        </div>
        
    <%- include('footer.html')%>
</body>

</html>