body{
    background-color: whitesmoke;
    font-family: arial, sans-serif;
}

h1 {
    color: blue;
}

div.div_form {
    overflow: hidden;
    /* display: block; */
  }



  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background: white;
    border-color: black;
    position: sticky;
    top: 0;
  }
tr:nth-child(even) {
    background-color: #dddddd;
}

.study-title{
    background-color: #dddddd;;
    border-color: black;
}
tbody{
    border: solid;
}


li{
    margin: 10px 0;
  }

input{
    font-size: 15px;
}


div.head_row{
    height:80px;
}

div.head{
    height:50px;
}
div.left{
    /*background-color: red;/**/
    width: 25%;
    float: left;
}
div.center{
    text-align: center;
    /*background-color: greenyellow;/**/
    width: 50%;
    float: left;
    height: fit-content;
}
div.right{
    /*background-color: red;/**/
    width: 25%;
    float: right;
    text-align: right;
}

